<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<body>
  <form action="/user/password/reset/:token" method="POST">
      <label for="password">New Password</label>
      <input type="password" id="password" name="password" autofocus="true" required>
      <label for="confirm">Confirm Password</label>
      <input type="password" id="confirm" name="confirmPassword" required>
      <button type="submit">Reset Password</button>
  </form>  
</body>
</html>