<%- include ('./partials/header') -%>

    <title>Password Reset Success</title>
</head>
<body>
    <div id="wrapper">
        <div class="vertical-align-wrap">
          <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                        <div class="top">
                            <a class="navbar-brand" href="/" style="color: #fff;">Hywork App</a>
                        </div>
              <div class="card">
                            <div class="header">
                                <p class="lead">Password Reset Success</p>
                            </div>
                            <div class="body">
                                <a href="/auth/login" class="btn btn-primary">LOGIN TO CONTINUE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
  <%- include ('./partials/footer') -%>
